// import modules
@import "_fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// color code
$yellow: #ffcd00;
$blue: #352878;
$half-blue: #286678;
$green: #4b7828;
$zinzar: #602878;
$half-pink: #fff5cc;
$half-black: #d1d1d1;
$little-red: #ff0000;
$bgWhite: #f6f6f6;

// fonts variable
$bold: ECBold;
$light: ECLight;
$medium: ECMedium;
$regular: ECRegular;
$semibold: ECSemiBold;

// font class
.light {
    font-family: $light;
}
.regular {
    font-family: $regular;
}
.medium {
    font-family: $medium;
}
.semiBold {
    font-family: $semibold;
}
.bold {
    font-family: $bold;
}

// color class generator
$color-list: (
    "yellow": $yellow,
    "blue": $blue,
    "half-blue": $half-blue,
    "green": $green,
    "zinzar": $zinzar,
    "half-pink": $half-pink,
    "half-black": $half-black,
    "little-red": $little-red,
    "lateWhite": $bgWhite,
);

@each $name, $color in $color-list {
    .#{$name} {
        color: $color !important;
    }
    .bg-#{$name} {
        background-color: $color !important;
    }
}
// color class

// responsive break points
$msm: 310px;
$xs: 425px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$mxl: 1800px;

// mixing section
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
// max responsive
@mixin mxResp($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

// auto responsive write
$breakPointLists: 0px, 425px, 576px, 768px, 992px, 1200px, 1400px, 1800px;
@mixin respLists($propertyName, $propertyValue) {
    @for $i from 1 to 9 {
        @include resp(nth($list: $breakPointLists, $n: $i)) {
            #{$propertyName}: nth($list: $propertyValue, $n: $i);
        }
    }
}

// fluid fonts
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit(
                            $max-font-size - $min-font-size
                        )} *
                        (
                            (100vw - #{$min-vw}) / #{strip-unit(
                                    $max-vw - $min-vw
                                )}
                        )
                );
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

// font size and line height
@mixin fsizeHeight($f, $h) {
    font-size: $f;
    line-height: $h;
}

@mixin fSmallToLarge($font-small, $font-large) {
    @include font-size($msm, $lg, $font-small, $font-large);
}
@mixin fLargeToExtraLarge($font-small, $font-large) {
    @include font-size($lg, $mxl, $font-small, $font-large);
}

// responsive list property  applyer

// global common style ------------------------------
body {
    background-color: $bgWhite;
}
// container modification
.container {
    transition: all 0.5s;
    @include mxResp($xs) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    @include mxResp($sm) {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    @include resp($mxl) {
        max-width: 1650px;
    }
}

// button component
.cus__btn {
    font-family: $semibold;
    border-radius: 1px;
    background-color: $yellow;
    color: black !important;
    display: inline-block;
    padding: 10px 15px !important;
    @include font-size($msm, $lg, 10px, 16px);
    @include resp($lg) {
        font-size: 16px;
    }
    @include resp($xl) {
        font-size: 17px;
    }
    @include resp($mxl) {
        font-size: 18px;
    }
}

// heading and tittle container
.s_head_ti {
    @include fSmallToLarge(9.8px, 16px);
    color: white;
    display: inline-block;
    padding: 5px 6px;
    background-color: $blue;
    text-transform: uppercase;
}

// section heading lg
.s_h_l {
    font-family: $bold;
    font-size: 26px;
}

// custom card container

.cus_card {
    padding: 15px;
    border: none !important;
    cursor: pointer;
    transform-origin: center center;
    transition: all 0.5s;
    margin-bottom: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 10px #e3e3e3, 0px 0px 10px #e3e3e3;
    @include resp($xs) {
        padding: 22px;
    }
    @include resp($sm) {
        padding: 28px;
    }
    @include resp($md) {
        padding: 25px 35px;
    }
    @include resp ($xl) {
        margin-bottom: 25px;
    }
    @include resp ($xxl) {
        padding: 30px;
        margin-bottom: 30px;
    }

    &:hover {
        box-shadow: 1px 1px 4px #c8c8c8, -1px -1px 4px #c8c8c8;
        transform: scale(1.05);
        @include resp ($lg) {
            transform: scale(1.025);
        }
    }
    h5 {
        font-size: 16px;
        @include resp($md) {
            font-size: 18px;
        }
        @include resp ($xl) {
            font-size: 19px;
        }
        @include resp ($xxl) {
            font-size: 20px;
        }
        
    }
    // paragraph
    .para {
        margin-top: 3px;
        font-size: 14px;
        @include resp($sm) {
            font-size: 15px;
            margin-top: 5px;
        }
        @include resp($md) {
            font-size: 17px;
        }
        @include resp ($lg) {
            font-size: 16px;
        }
        @include resp ($xl) {
            font-size: 17px;
        }
        @include resp ($xxl) {
            font-size: 18px;
        }
    }
}

// para grpah

.para {
    font-size: 14.5px;
    line-height: 110%;
}

// quote section
.quotes {
    // texts 
    .texts {
        line-height: 120%;
        .quote_text {
            font-family: 14px;
            display: inline-block;
            @include fSmallToLarge(14px, 29px);
            @include resp($xs) {
                line-height: 135%;
            }
            @include resp($sm) {
                font-size: 22px;
                text-align: right!important;
            }
            @include resp($md) {
                font-size: 24px;
            }
            @include resp($lg) {
                font-size: 22px;
            }
            @include resp ($xl) {
                font-size: 26.5px;
            }
            @include resp ($xxl) {
                font-size: 30px;
            }
        }
    }
    // quotes owner 
    .quotes_owner {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0px;
        @include resp ($sm) {
            text-align: right!important;
        }
        @include resp ($lg) {
            margin-top: 31px;
        }
        @include fSmallToLarge(14px, 22px);
        @include resp ($xl) {
            margin-top: 25px;
            font-size: 25px;
        }
        @include resp ($xxl) {
            font-size: 28px;
            margin-top: 40px;
        }
    }
}

// most larger headering
.m_head_wrap {
    h1 {
        font-family: $bold;
        @include fsizeHeight(28px, 112%);
        @include font-size($msm, $lg, 26px, 70px);
        @include resp($lg) {
            color: black !important;
            font-size: 57px;
        }
        @include resp($xl) {
            font-size: 62px;
        }
        @include resp($xxl) {
            font-size: 75px;
        }
        @include resp($mxl) {
            font-size: 95px;
        }
    }
}

// small large header
.sm_head_wrap {
    h3 {
        @include fsizeHeight(17.5px, 110%);
        @include font-size($msm, $lg, 17.5px, 44px);
        @include resp($lg) {
            color: black !important;
            // @include fLargeToExtraLarge(36px, 62px);
            font-size: 36px;
        }
        @include resp($xl) {
            font-size: 38px;
        }
        @include resp($xxl) {
            font-size: 48px;
        }
        @include resp($mxl) {
            font-size: 60px;
        }
    }
}

// section heading
.section_heading {
    font-family: $bold;
    // font-size: 25px;
    @include fSmallToLarge(25px, 55px);
    @include resp ($lg) {
        margin-top: 25px!important;
    }
    @include resp ($xl) {
        margin-top: 30px!important;
    }
    @include resp ($xxl) {
        font-size: 60px!important;
        margin-top: 49px!important;
    }
    @include resp ($xxl) {
        font-size: 82px!important;
    }
}

// section description
.section_description {
    font-family: $medium;
    span {
        // font-size: 17px;
        @include fSmallToLarge(17px, 35px);
        @include resp ($xl) {
            font-size: 30px!important;
        }
        @include resp ($xxl) {
            font-size: 35px!important;
        }
    }

}

p,
a {
    font-family: $medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $bold;
}

// header and main section wrapper
#main__sec__wrapper {
    background: url("../img/background/xs/main.png") no-repeat center center;
    background-size: 100% 100%;
    // background section update
    @include resp($lg) {
        background: url("../img/background/1400px/main-bg.png") no-repeat center
            center;
        background-size: 100% 100%;
        // background: url(../img/background/1400px/main-bg.png) no-repeat 85% 50%;
        // background-size: 115% 100%;
    }
    @include resp($xxl) {
        background: url("../img/background/1920px/main-bg-desktop.png")
            no-repeat center center;
        background-size: 100% 100%;
    }
}

// border top section
#border__top {
    width: 100%;
    height: 3px;
    background: url("../img/border/top_border.png") no-repeat center center;
    background-size: 100% 100%;
    @include resp($sm) {
        height: 4px;
    }
    @include resp($lg) {
        height: 5px;
    }
    @include resp($xl) {
        height: 7px;
    }
    @include resp($xxl) {
        height: 6px;
    }
    @include resp($mxl) {
        height: 8px;
    }
}

// navbar
.navbar {
    background-color: transparent !important;
    // brand
    .navbar-brand {
        img {
            width: 105px;
            margin-right: 2px;
            @include resp($xs) {
                width: 115px;
                margin-right: 4px;
            }
            @include resp($lg) {
                width: 155px;
            }
            @include resp($xxl) {
                width: 170px;
            }
            @include resp($mxl) {
                width: 190px;
            }
        }
        .text__wrap {
            margin-top: 3px;
            @include resp($lg) {
                margin-top: 5px;
            }
            @include resp($xl) {
                margin-top: 3px;
            }
            @include resp($mxl) {
                margin-top: 4px;
            }
            p {
                line-height: 110%;
                color: $yellow;
                @include resp($lg) {
                    color: $blue !important;
                }
                @include font-size($msm, $mxl, 8.5px, 14px);
            }
        }
    }
    // toggle button
    .navbar-toggler {
        padding: 0px !important;
        background-color: transparent !important;
        border-color: transparent !important;
        // focus
        &:focus {
            box-shadow: none !important;
        }
        .navbar-icon {
            img {
                width: 22px;
            }
        }
    }
    // navbar list
    .navbar-nav {
        //  main wrapper / collapse
        @include resp($lg) {
            background-color: transparent !important;
        }

        .nav-item {
            .nav-link {
                @include font-size($msm, $lg, 10px, 16.5px);
                text-transform: capitalize !important;
                padding-top: 0px;
                color: black !important;
                @include resp($lg) {
                    @include font-size($lg, $mxl, 16px, 17.5px);
                }
            }
            .nav-link.cus__btn {
                @include resp($mxl) {
                    padding-left: 27px !important;
                    padding-right: 27px !important;
                }
            }
        }
    }
}

// ------------------------ main section style ---------------------------------------------
main {
    // heading and form
    #mainContainer {
        @include resp($lg) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
            align-items: flex-start;
            margin-top: 45px;
            padding-bottom: 50px!important;
        }
        @include resp($xl) {
            margin-top: 65px;
        }
        @include resp($xxl) {
            margin-top: 80px;
        }
        @include resp($mxl) {
            margin-top: 110px;
        }
        // s heading
        .s_head_ti {
            @include resp($lg) {
                font-size: 16px;
            }
            @include resp($xl) {
                font-size: 17px;
            }
            @include resp($xxl) {
                font-size: 18.5px;
            }
            @include resp($mxl) {
                font-size: 20px;
            }
        }
        // heading form
        .heading_form {
            @include resp($xs) {
                margin-top: 15px;
            }
            @include resp($lg) {
                margin-top: 0px;
                grid-row: 1/5;
                grid-column: 1/6;
            }
        }
        // heading and forms
        .email__form {
            input,
            button {
                width: 100%;
                flex-basis: 100%;
                border: none !important;
                border-radius: 0 !important;
                @include resp($xxl) {
                    flex-basis: 45%;
                }
                @include resp($mxl) {
                    flex-basis: 35%;
                }
            }
            // input
            input {
                padding: 10px !important;
                border-radius: 0.5px !important;
                @include fSmallToLarge(10px, 16px);
                @include resp($sm) {
                    font-size: 15px;
                }
                @include resp($md) {
                    font-size: 18px;
                }
                @include resp($lg) {
                    @include fLargeToExtraLarge(15px, 18px);
                    padding: 13px;
                    // font-size: 15px!important;
                }
                @include resp($xl) {
                    padding: 14px !important;
                }
                @include resp($xxl) {
                    padding: 17px !important;
                    flex-basis: 65%;
                }
                @include resp($mxl) {
                    padding: 20px !important;
                }
            }
        }
        // bottom slogan
        .slogan__wrap {
            @include resp($lg) {
            }
            p {
                @include fsizeHeight(11px, 120%);
                color: $blue;
                @include font-size($xs, $lg, 11px, 15px);
                @include resp($lg) {
                    // @include fLargeToExtraLarge(16px, 21px);
                    font-size: 19px;
                }
                @include resp($xl) {
                    font-size: 20.5px;
                }
                @include resp($xxl) {
                    font-size: 25.5px;
                }
                @include resp($mxl) {
                    font-size: 32px;
                }
            }
        }

        // card container ----------------------------
        #card__wrap {
            display: none;
            @include resp($lg) {
                grid-row: 1/7;
                grid-column: 4/7;
                // grid items
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(8, 1fr);
                grid-template-areas:
                    ". . . . item1 item1 item1 item1"
                    ". . . item2 item2 item2 item2 ."
                    "item3 item3 item3 item3 item4 item4 item4 item4";
                grid-row-gap: 30px;
            }
            @include resp($xl) {
                grid-column: 3/7;
                grid-template-columns: repeat(3, 200px);
                grid-template-rows: repeat(3, 190px);
                grid-template-areas:
                    ". . item1"
                    ". item2 ."
                    "item3 . item4";
                grid-row-gap: 0px;
                justify-self: flex-end;
            }
            @include resp($xxl) {
                grid-template-columns: repeat(3, 235px);
                grid-template-rows: repeat(3, 235px);
            }
            @include resp($mxl) {
                grid-template-columns: repeat(3, 260px);
                grid-template-rows: repeat(3, 260px);
            }
        }

        // card element design ------------------
        .card__element {
            width: 215px;
            padding: 28px 30px;
            border-radius: 1px;
            @include resp($lg) {
                justify-self: flex-end;
            }
            @include resp($xl) {
                width: 200px;
                padding-top: 30px;
            }
            @include resp($xxl) {
                padding-top: 35px;
                width: 235px;
            }
            @include resp($mxl) {
                width: 260px;
                padding: 50px 25px 40px 42px;
            }
            .icon_wrap {
                img {
                    width: 20px;
                    @include resp($xl) {
                        width: 23px;
                    }
                    @include resp($xxl) {
                        width: 26px;
                    }
                }
            }
            // heading
            .heading {
                h6 {
                    @include fLargeToExtraLarge(14px, 17.5px);
                    @include resp($xl) {
                        font-size: 15px;
                    }
                    @include resp($xxl) {
                        font-size: 17px;
                    }
                    @include resp($mxl) {
                        font-size: 17.5px;
                    }
                }
            }
            // paragraph
            .para_wrap {
                @include resp($xl) {
                    margin-top: 8px;
                }
                p {
                    // font-size: 12px;
                    line-height: 130%;
                    color: #ffffffd1 !important;
                    font-size: 12px;
                    @include resp($xxl) {
                        font-size: 14px;
                        line-height: 140%;
                    }
                    @include resp($mxl) {
                        font-size: 15px;
                    }
                }
            }
            // card color
            &:nth-child(1) {
                background-color: $blue;
                grid-area: item1;
            }
            &:nth-child(2) {
                background-color: $half-blue;
                grid-area: item2;
            }
            &:nth-child(3) {
                background-color: $zinzar;
                grid-area: item4;
                justify-self: flex-end;
            }
            &:nth-child(4) {
                background-color: $green;
                grid-area: item3;
            }
        }
    }
}

// ---------------------------- mini attacks -----------------------------
#miniAttacks {
    background: url("../img/background/curves-1.png") no-repeat top right;
    background-size: 95% 100%;
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1.1fr auto 1.1fr;
        grid-template-areas:
            "mainHeading"
            "firstLists"
            "quotes"
            "secLists";
        grid-row-gap: 10px;
        // @include resp ($sm) {
        //     grid-tem
        // }
        @include resp($lg) {
            grid-template-columns: 1fr repeat(4, 0.25fr) 1fr;
            grid-template-rows: 1fr 3.25fr;
            grid-template-areas: initial;
            grid-gap: 45px 20px;
            // padding 
            padding-top: 130px!important;
            padding-bottom: 50px!important;
        }
        @include resp ($xl) {
            grid-gap: 55px 25px;
        }
        @include resp($xxl) {
            grid-gap: 55px 30px;
        }
        // main heading ------------------
        .main_heading {
            grid-area: mainHeading;
            @include resp($lg) {
                grid-row: 1/2;
                grid-column: 1/6;
            }
            // smb
            .s_head_ti {
            }
            // section highlight
            .section_heading {
                @include resp($lg) {
                    font-size: 50px;
                    margin-top: 8px;
                }
            }
            // tittle description
            .section_description {
                span {
                    @include resp($lg) {
                        font-size: 26px;
                    }
                }
            }
        }
        // first lists
        .first_card_list {
            grid-area: firstLists;
            @include resp($lg) {
                grid-area: initial;
                grid-row: 2/3;
                grid-column: 4/-1;
            }
        }
        // secound list
        .quotes {
            grid-area: quotes;
            @include resp($lg) {
                grid-row: 1/2;
                grid-column: 2/-1;
            }
            .quote_text {
                @include resp($sm) {
                    max-width: initial;
                }
                
            }
        }
        // sec list
        .sec_card_list {
            grid-area: secLists;
            @include resp($lg) {
                grid-area: initial;
                grid-row: 2/3;
                grid-column: 1/4;
            }
        }
    }
}
