// import modules
@import "_fonts";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

// color code
$yellow: #ffcd00;
$blue: #352878;
$half-blue: #286678;
$green: #4b7828;
$zinzar: #602878;
$half-pink: #fff5cc;
$half-black: #d1d1d1;
$little-red: #ff0000;
$bgWhite: #f6f6f6;

// fonts variable
$bold: ECBold;
$light: ECLight;
$medium: ECMedium;
$regular: ECRegular;
$semibold: ECSemiBold;

// font class
.light {
    font-family: $light;
}
.regular {
    font-family: $regular;
}
.medium {
    font-family: $medium;
}
.semiBold {
    font-family: $semibold;
}
.bold {
    font-family: $bold;
}

// color class generator
$color-list: (
    "yellow": $yellow,
    "blue": $blue,
    "half-blue": $half-blue,
    "green": $green,
    "zinzar": $zinzar,
    "half-pink": $half-pink,
    "half-black": $half-black,
    "little-red": $little-red,
    "lateWhite": $bgWhite,
);

@each $name, $color in $color-list {
    .#{$name} {
        color: $color !important;
    }
    .bg-#{$name} {
        background-color: $color !important;
    }
}
// color class

// responsive break points
$msm: 310px;
$xs: 425px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$mxl: 1800px;

// mixing section
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
// max responsive
@mixin mxResp($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

// auto responsive write
$breakPointLists: 1800px, 1400px, 1200px, 992px, 768px, 576px, 425px, 0px;
@mixin respLists($propertyName, $propertyValue) {
    @for $i from 1 to 9 {
        @include resp(nth($list: $breakPointLists, $n: $i)) {
            #{$propertyName}: nth($list: $propertyValue, $n: $i);
        }
    }
}

// fluid fonts
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit(
                            $max-font-size - $min-font-size
                        )} *
                        (
                            (100vw - #{$min-vw}) / #{strip-unit(
                                    $max-vw - $min-vw
                                )}
                        )
                );
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

// font size and line height
@mixin fsizeHeight($f, $h) {
    font-size: $f;
    line-height: $h;
}

@mixin fSmallToLarge($font-small, $font-large) {
    @include font-size($msm, $lg, $font-small, $font-large);
}
@mixin fLargeToExtraLarge($font-small, $font-large) {
    @include font-size($lg, $mxl, $font-small, $font-large);
}
// minimum to maximum media query
@mixin minMax($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// responsive list property  applyer

// global common style ------------------------------
body {
    background-color: $bgWhite;
}
// container modification
.container {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    @include mxResp($xs) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    @include mxResp($sm) {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    @include resp($mxl) {
        max-width: 1650px;
    }
}

// button component
.cus__btn {
    font-family: $semibold;
    border-radius: 1px;
    background-color: $yellow;
    color: black !important;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 10px 15px !important;
    text-align: center;
    @include font-size($msm, $lg, 10px, 16px);
    @include resp($lg) {
        font-size: 16px;
    }
    @include resp($xl) {
        font-size: 17px;
    }
    @include resp($mxl) {
        font-size: 18px;
    }
}

.strategy_btn {
    @extend .cus__btn;
    @include resp($lg) {
        width: 205px;
    }
    @include resp($xl) {
        width: 215px;
    }
    @include resp($mxl) {
        width: 235px;
    }
}

// heading and tittle container
.s_head_ti {
    @include fSmallToLarge(9.8px, 16px);
    color: white;
    display: inline-block;
    padding: 5px 6px;
    background-color: $blue;
    text-transform: uppercase;
    font-family: $semibold;
}

// small heading quotes
.big_s_head_ti {
    @extend .s_head_ti;
    @include resp($lg) {
        font-size: 17px;
        padding: 7px 6px;
    }
    @include resp($xl) {
        font-size: 18px;
        padding: 8px 7px;
    }
    @include resp($xxl) {
        font-size: 19px;
        padding: 9px;
    }
    @include resp($mxl) {
        font-size: 20px;
        padding: 10px;
    }
}
// section heading lg
.s_h_l {
    font-family: $bold;
    font-size: 26px;
}

// custom card container

.cus_card {
    padding: 15px;
    border: none !important;
    cursor: pointer;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 20px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 10px #e3e3e3, 0px 0px 10px #e3e3e3;
            box-shadow: 0px 0px 10px #e3e3e3, 0px 0px 10px #e3e3e3;
    @include resp($xs) {
        padding: 22px;
    }
    @include resp($sm) {
        padding: 28px;
    }
    @include resp($md) {
        padding: 25px 35px;
    }
    @include resp($lg) {
        height: 120px;
        display: grid;
        -ms-flex-line-pack: center;
            align-content: center;
    }
    @include resp($xl) {
        margin-bottom: 25px;
    }
    @include resp($xxl) {
        padding: 30px;
        margin-bottom: 30px;
        height: 130px;
    }
    @include resp($mxl) {
        padding: 40px;
        height: 145px;
    }

    &:hover {
        -webkit-box-shadow: 1px 1px 4px #c8c8c8, -1px -1px 4px #c8c8c8;
                box-shadow: 1px 1px 4px #c8c8c8, -1px -1px 4px #c8c8c8;
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
        @include resp($lg) {
            -webkit-transform: scale(1.025);
                -ms-transform: scale(1.025);
                    transform: scale(1.025);
        }
    }
    h5 {
        font-size: 16px;
        @include resp($md) {
            font-size: 18px;
        }
        @include resp($xl) {
            font-size: 19px;
        }
        @include resp($xxl) {
            font-size: 20px;
        }
        @include resp($mxl) {
            font-size: 21px;
        }
    }
    // paragraph
    .para {
        margin-top: 3px;
        font-size: 14px;
        line-height: 130%;
        @include resp($sm) {
            font-size: 15px;
            margin-top: 5px;
        }
        @include resp($md) {
            font-size: 17px;
        }
        @include resp($lg) {
            font-size: 16px;
        }
        @include resp($xl) {
            font-size: 17px;
        }
        @include resp($xxl) {
            font-size: 18px;
        }
        @include resp($mxl) {
            font-size: 18.5px;
        }
    }
}

// para grpah

.para {
    font-size: 14.5px;
    line-height: 110%;
}

// quote section
.quotes {
    // texts
    .texts {
        line-height: 120%;
        .quote_text {
            font-family: 14px;
            display: inline-block;
            @include resp($xs) {
                line-height: 135%;
            }
            @include resp($sm) {
                font-size: 22px;
                text-align: right !important;
            }
            @include resp($md) {
                font-size: 24px;
            }
            @include resp($lg) {
                font-size: 22px;
            }
            @include resp($xl) {
                font-size: 26.5px;
            }
            @include resp($xxl) {
                font-size: 31px;
            }
            @include resp($mxl) {
                font-size: 36.5px;
            }
        }
    }
    // quotes owner
    .quotes_owner {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0px;
        @include resp($sm) {
            text-align: right !important;
        }
        @include resp($lg) {
            margin-top: 31px;
        }
        @include fSmallToLarge(14px, 22px);
        @include resp($xl) {
            margin-top: 25px;
            font-size: 25px;
        }
        @include resp($xxl) {
            font-size: 28px;
            margin-top: 40px;
        }
        @include resp($mxl) {
            font-size: 31px;
            margin-top: 60px;
        }
    }
}

// most larger headering
.m_head_wrap {
    h1 {
        font-family: $bold;
        @include fsizeHeight(28px, 112%);
        @include font-size($msm, $lg, 26px, 70px);
        @include resp($lg) {
            color: black !important;
            font-size: 57px;
        }
        @include resp($xl) {
            font-size: 62px;
        }
        @include resp($xxl) {
            font-size: 75px;
        }
        @include resp($mxl) {
            font-size: 95px;
        }
    }
}

// small large header
.sm_head_wrap {
    h3 {
        @include fsizeHeight(17.5px, 110%);
        @include font-size($msm, $lg, 17.5px, 44px);
        @include resp($lg) {
            color: black !important;
            // @include fLargeToExtraLarge(36px, 62px);
            font-size: 36px;
        }
        @include resp($xl) {
            font-size: 38px;
        }
        @include resp($xxl) {
            font-size: 48px;
        }
        @include resp($mxl) {
            font-size: 60px;
        }
    }
}

// section heading
.section_heading {
    font-family: $bold;
    // font-size: 25px;
    @include fSmallToLarge(25px, 55px);
    @include resp($xxl) {
        font-size: 60px !important;
    }
    @include resp($mxl) {
        font-size: 80px !important;
    }
}

// section description
.section_description {
    font-family: $medium;
    @include resp($xl) {
        margin-top: 5px;
    }
    @include resp($xxl) {
        margin-top: 10px;
    }
    @include resp($mxl) {
        margin-top: 15px;
    }
    span {
        // font-size: 17px;
        @include fSmallToLarge(17px, 35px);
        @include resp($xl) {
            font-size: 30px !important;
            margin-top: 5px;
        }
        @include resp($xxl) {
            font-size: 35px !important;
            margin-top: 10px;
        }
        @include resp($mxl) {
            font-size: 48px !important;
            margin-top: 15px;
        }
    }
}

// small section heading
.small_section_heading {
    @extend .semiBold;
    color: $blue;
    @include font-size($xs, $mxl, 13px, 19px);
    span {
        background-color: #fbf2cb;
    }
}

// texts and buttons
.text__buttons {
    margin-top: 10px;
    @include resp($xs) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }
    // button text medium
    .btn_txt_medium {
        @extend .regular;
        color: $blue;
        @include font-size($xs, $mxl, 14px, 22px);
        @include resp($lg) {
            font-size: 16px;
        }
        @include resp($xl) {
            font-size: 17px;
        }
        @include resp($xxl) {
            font-size: 17.5px;
        }
        @include resp($mxl) {
            font-size: 18px;
        }
    }
    // text and btn wrapper
    .text_btn_wrap {
        @include resp($sm) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        @include resp($lg) {
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
        // texts
        .texts {
            margin-bottom: 15px;
            @include resp($sm) {
                margin-bottom: 0px;
            }
            // button description
            .button_description {
            }
        }
    }
}

// button and description container design
.btn_description_container {
    @include resp($lg) {
        display: grid;
    }
}

p,
a {
    font-family: $medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $bold;
}

// header and main section wrapper
#main__sec__wrapper {
    background: url("../img/background/xs/main.png") no-repeat center center;
    background-size: 100% 100%;
    // background section update
    @include resp($lg) {
        background: url("../img/background/1400px/main-bg.png") no-repeat center
            center;
        background-size: 100% 100%;
        // background: url(../img/background/1400px/main-bg.png) no-repeat 85% 50%;
        // background-size: 115% 100%;
    }
    @include resp($xxl) {
        background: url("../img/background/1920px/main-bg-desktop.png")
            no-repeat center center;
        background-size: 100% 100%;
    }
}

// border top section
#border__top {
    width: 100%;
    height: 3px;
    background: url("../img/border/top_border.png") no-repeat center center;
    background-size: 100% 100%;
    @include resp($sm) {
        height: 4px;
    }
    @include resp($lg) {
        height: 5px;
    }
    @include resp($xl) {
        height: 7px;
    }
    @include resp($xxl) {
        height: 6px;
    }
    @include resp($mxl) {
        height: 8px;
    }
}

// navbar
.navbar {
    background-color: transparent !important;
    // brand
    .navbar-brand {
        img {
            width: 105px;
            margin-right: 2px;
            @include resp($xs) {
                width: 115px;
                margin-right: 4px;
            }
            @include resp($lg) {
                width: 155px;
            }
            @include resp($xxl) {
                width: 170px;
            }
            @include resp($mxl) {
                width: 190px;
            }
        }
        .text__wrap {
            margin-top: 3px;
            @include resp($lg) {
                margin-top: 5px;
            }
            @include resp($xl) {
                margin-top: 3px;
            }
            @include resp($mxl) {
                margin-top: 4px;
            }
            p {
                line-height: 110%;
                color: $yellow;
                @include resp($lg) {
                    color: $blue !important;
                }
                @include font-size($msm, $mxl, 8.5px, 14px);
            }
        }
    }
    // toggle button
    .navbar-toggler {
        padding: 0px !important;
        background-color: transparent !important;
        border-color: transparent !important;
        // focus
        &:focus {
            -webkit-box-shadow: none !important;
                    box-shadow: none !important;
        }
        .navbar-icon {
            img {
                width: 22px;
            }
        }
    }
    // navbar list
    .navbar-nav {
        //  main wrapper / collapse
        @include resp($lg) {
            background-color: transparent !important;
        }

        .nav-item {
            .nav-link {
                @include font-size($msm, $lg, 10px, 16.5px);
                text-transform: capitalize !important;
                padding-top: 0px;
                color: black !important;
                @include resp($lg) {
                    @include font-size($lg, $mxl, 16px, 17.5px);
                }
            }
            .nav-link.cus__btn {
                @include resp($mxl) {
                    padding-left: 27px !important;
                    padding-right: 27px !important;
                }
            }
        }
    }
}

// ------------------------ main section style ---------------------------------------------
main {
    // heading and form
    #mainContainer {
        @include resp($lg) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            margin-top: 45px;
            padding-bottom: 50px !important;
        }
        @include resp($xl) {
            margin-top: 65px;
        }
        @include resp($xxl) {
            margin-top: 80px;
        }
        @include resp($mxl) {
            margin-top: 110px;
        }
        // s heading
        .s_head_ti {
            @include resp($lg) {
                font-size: 16px;
            }
            @include resp($xl) {
                font-size: 17px;
            }
            @include resp($xxl) {
                font-size: 18.5px;
            }
            @include resp($mxl) {
                font-size: 20px;
            }
        }
        // heading form
        .heading_form {
            @include resp($xs) {
                margin-top: 15px;
            }
            @include resp($lg) {
                margin-top: 0px;
                grid-row: 1/5;
                grid-column: 1/6;
            }
        }
        // heading and forms
        .email__form {
            input,
            button {
                width: 100%;
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
                border: none !important;
                border-radius: 0 !important;
                @include resp($xxl) {
                    -ms-flex-preferred-size: 45%;
                        flex-basis: 45%;
                }
                @include resp($mxl) {
                    -ms-flex-preferred-size: 35%;
                        flex-basis: 35%;
                }
            }
            // input
            input {
                padding: 10px !important;
                border-radius: 0.5px !important;
                @include fSmallToLarge(10px, 16px);
                @include resp($sm) {
                    font-size: 15px;
                }
                @include resp($md) {
                    font-size: 18px;
                }
                @include resp($lg) {
                    @include fLargeToExtraLarge(15px, 18px);
                    padding: 13px;
                    // font-size: 15px!important;
                }
                @include resp($xl) {
                    padding: 14px !important;
                }
                @include resp($xxl) {
                    padding: 17px !important;
                    -ms-flex-preferred-size: 65%;
                        flex-basis: 65%;
                }
                @include resp($mxl) {
                    padding: 20px !important;
                }
            }
        }
        // bottom slogan
        .slogan__wrap {
            @include resp($lg) {
            }
            p {
                @include fsizeHeight(11px, 120%);
                color: $blue;
                @include font-size($xs, $lg, 11px, 15px);
                @include resp($lg) {
                    // @include fLargeToExtraLarge(16px, 21px);
                    font-size: 19px;
                }
                @include resp($xl) {
                    font-size: 20.5px;
                }
                @include resp($xxl) {
                    font-size: 25.5px;
                }
                @include resp($mxl) {
                    font-size: 32px;
                }
            }
        }

        // card container ----------------------------
        #card__wrap {
            display: none;
            @include resp($lg) {
                grid-row: 1/7;
                grid-column: 4/7;
                // grid items
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(8, 1fr);
                grid-template-areas:
                    ". . . . item1 item1 item1 item1"
                    ". . . item2 item2 item2 item2 ."
                    "item3 item3 item3 item3 item4 item4 item4 item4";
                grid-row-gap: 30px;
            }
            @include resp($xl) {
                grid-column: 3/7;
                grid-template-columns: repeat(3, 200px);
                grid-template-rows: repeat(3, 190px);
                grid-template-areas:
                    ". . item1"
                    ". item2 ."
                    "item3 . item4";
                grid-row-gap: 0px;
                justify-self: flex-end;
            }
            @include resp($xxl) {
                grid-template-columns: repeat(3, 235px);
                grid-template-rows: repeat(3, 235px);
            }
            @include resp($mxl) {
                grid-template-columns: repeat(3, 260px);
                grid-template-rows: repeat(3, 260px);
            }
        }

        // card element design ------------------
        .card__element {
            width: 215px;
            padding: 28px 30px;
            border-radius: 1px;
            @include resp($lg) {
                justify-self: flex-end;
            }
            @include resp($xl) {
                width: 200px;
                padding-top: 30px;
                padding-right: 0px;
            }
            @include resp($xxl) {
                padding-top: 35px;
                width: 235px;
            }
            @include resp($mxl) {
                width: 260px;
                padding: 50px 25px 40px 42px;
            }
            .icon_wrap {
                img {
                    width: 20px;
                    @include resp($xl) {
                        width: 23px;
                    }
                    @include resp($xxl) {
                        width: 26px;
                    }
                }
            }
            // heading
            .heading {
                h6 {
                    @include fLargeToExtraLarge(14px, 17.5px);
                    @include resp($xl) {
                        font-size: 15px;
                    }
                    @include resp($xxl) {
                        font-size: 17px;
                    }
                    @include resp($mxl) {
                        font-size: 17.5px;
                    }
                }
            }
            // paragraph
            .para_wrap {
                @include resp($xl) {
                    margin-top: 8px;
                }
                p {
                    // font-size: 12px;
                    line-height: 130%;
                    color: #ffffffd1 !important;
                    font-size: 12px;
                    @include resp($xxl) {
                        font-size: 14px;
                        line-height: 140%;
                    }
                    @include resp($mxl) {
                        font-size: 15px;
                    }
                }
            }
            // card color
            &:nth-child(1) {
                background-color: $blue;
                grid-area: item1;
            }
            &:nth-child(2) {
                background-color: $half-blue;
                grid-area: item2;
            }
            &:nth-child(3) {
                background-color: $zinzar;
                grid-area: item4;
                justify-self: flex-end;
            }
            &:nth-child(4) {
                background-color: $green;
                grid-area: item3;
            }
        }
    }
}

// ---------------------------- mini attacks card decoration -----------------------------
.card_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "mainHeading"
        "firstLists"
        "quotes"
        "secLists";
    grid-row-gap: 10px;
    @include resp($lg) {
        grid-template-columns: 1fr repeat(4, 0.25fr) 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: initial;
        grid-gap: 45px 20px;
        // padding
        padding-top: 130px !important;
        padding-bottom: 50px !important;
    }
    @include resp($xl) {
        grid-gap: 55px 25px;
    }
    @include resp($xxl) {
        grid-gap: 80px 30px;
    }
    @include resp($mxl) {
        grid-gap: 110px 30px;
    }
    // main heading ------------------
    .main_heading {
        grid-area: mainHeading;
        @include resp($lg) {
            grid-row: 1/2;
            grid-column: 1/6;
        }
        // smb
        .s_head_ti {
        }
        // section highlight
        .section_heading {
            @include resp($lg) {
                font-size: 50px;
                margin-top: 8px;
            }
        }
        // tittle description
        .section_description {
            span {
                @include resp($lg) {
                    font-size: 26px;
                }
            }
        }
    }
    // first lists
    .first_card_list {
        grid-area: firstLists;
        @include resp($lg) {
            grid-area: initial;
            grid-row: 2/3;
            grid-column: 4/-1;
        }
    }
    // secound list
    .quotes {
        grid-area: quotes;
        @include resp($lg) {
            grid-row: 1/2;
            grid-column: 2/-1;
        }
        .quote_text {
            @include resp($sm) {
                max-width: initial;
            }
        }
    }
    // sec list
    .sec_card_list {
        grid-area: secLists;
        @include resp($lg) {
            grid-area: initial;
            grid-row: 2/3;
            grid-column: 1/4;
        }
    }
}

#miniAttacks {
    .container {
        // section margin top
        .section_heading {
            font-family: $bold;
            @include resp($lg) {
                margin-top: 25px !important;
            }
            @include resp($xl) {
                margin-top: 30px !important;
            }
            @include resp($xxl) {
                font-size: 60px !important;
                margin-top: 49px !important;
            }
            @include resp($mxl) {
                font-size: 80px !important;
            }
        }
    }
}
// ---------------------------- minimize downtime -----------------------------
#minimizeDowntime {
    .container {
        .main_heading {
            // section heading
            .section_heading {
                @media only screen and (max-width: $xs) {
                    @include font-size(315px, $xs, 18.5px, 25px);
                }
                @media screen and (min-width: $xs) and (max-width: $sm) {
                    @include font-size($xs, $sm, 25px, 35px);
                }
                @media screen and (min-width: $sm) and (max-width: $md) {
                    @include font-size($sm, $md, 34px, 36px);
                }
                @media screen and (min-width: $md) and (max-width: $lg) {
                    @include font-size($md, $lg, 44px, 48px);
                }
                @include resp($lg) {
                    font-size: 41px;
                }
                &:last-child {
                    margin-top: 0px !important;
                }
                @include resp($xl) {
                    margin-top: 15px;
                }
                @include resp($xxl) {
                    font-size: 55px !important;
                    margin-top: 25px;
                }
                @include resp($mxl) {
                    margin-top: 40px;
                    font-size: 70px !important;
                }
            }
        }
        // section secound heading
        .section_description {
            span {
                @include minMax($sm, $md) {
                    // font-size: ;
                    @include font-size($sm, $md, 20px, 24px);
                }
                @include minMax($md, $lg) {
                    @include font-size($md, $lg, 24px, 30px);
                }
                @include resp($lg) {
                    font-size: 25px !important;
                }
                @include resp($xl) {
                    font-size: 28px !important;
                }
                @include resp($xxl) {
                    font-size: 33px !important;
                }
                @include resp($mxl) {
                    font-size: 41px !important;
                }
            }
        }
        // ------------quotes section------------
        .quotes {
            @include resp($lg) {
                grid-column: 1/6;
                display: grid;
                .quotes_owner {
                    -ms-flex-item-align: end;
                        align-self: flex-end;
                }
            }
            .texts {
                .quote_text {
                    text-align: left !important;
                }
            }
            .quotes_owner {
                text-align: left !important;
            }
        }
        // main heading
        .main_heading {
            @include resp($lg) {
                grid-column: 2/7;
            }
        }
    }
}

// --------------------- btn description -----------------
.btn_description_container {
    // left right wrapper
    .left_right_wrapper {
        @include resp($lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 30px;
            width: 93%;
        }
    }
    // left section
    .left_section {
        // section heading
        .section_heading {
            @include resp($lg) {
                font-size: 36px;
            }
        }
        // section description
        .section_description {
            span {
                @include resp($lg) {
                    font-size: 22px;
                }
            }
        }
        // main heading
        .main_heading {
            height: 45%;
        }
        // texts and button
        .text__buttons {
            @include resp($lg) {
                height: 55%;
                margin-top: 0px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: column wrap;
                        flex-flow: column wrap;
            }
            // sample image
            .img_container {
                -webkit-box-shadow: -3px -3px 10px #c8c8c8, 3px 3px 10px #c8c8c8;
                        box-shadow: -3px -3px 10px #c8c8c8, 3px 3px 10px #c8c8c8;
            }
        }
    }
    // right section
    .right_section {
        display: none;
        @include resp($lg) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                    flex-flow: column wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        // image wrap
        .img_wrap {
            img {
                width: 95px;
            }
        }
        // texts
        .para {
            font-size: 16.5px;
            @include resp($lg) {
                font-size: 17px;
            }
        }

        // rejoan
        // image container
        .content_img {
            img {
                width: 80%;
            }
        }
    }
}
// more then maintence -------------------------------------
#moreThenMaintence {
    // main heading
    .main_heading {
        // section heading
        .section_heading {
            font-size: 19px;
            @include fSmallToLarge(19px, 44px);
        }
        // section description
        .section_description {
            span {
                display: block;
                @include fSmallToLarge(17px, 29px);
                @include resp($md) {
                    display: inline-block;
                }
            }
        }
    }
}

// virtual card list
.visual_card_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    // card decoration
    @include resp($sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
    }
    @include resp($xl) {
        grid-template-columns: repeat(3, 1fr) repeat(3, 1.33fr)!important;
        grid-template-rows: repeat(2, 1fr);
    }
    // visual card
    .visual_card {
        margin-bottom: 20px;
        padding: 25px 18px;
        border-radius: 15px;
        @include resp($xs) {
            padding: 40px 50px;
        }
        @include resp($sm) {
            border-radius: 0px;
            margin-bottom: 0px;
            padding: 45px 10px 45px 35px;
        }
        @include resp($md) {
            padding: 65px 10px 65px 45px;
        }
        @include resp($lg) {
            padding: 75px 10px 75px 55px;
        }
        @include resp ($xl) {
            padding: 25px 0px 25px 25px!important;
        }
        // card icon
        .icon_wrap {
            text-align: center;
            @include resp($sm) {
                text-align: left;
            }
            img {
                width: 22px;
                @include resp($sm) {
                    width: 25px;
                }
            }
        }
        // tittle
        h1.tittle {
            @include fSmallToLarge(16px, 19px);
            text-align: center;
            margin-top: 10px;
            @include resp($sm) {
                text-align: left;
            }
        }
        // para
        .para {
            @extend .regular;
            text-align: center;
            margin-bottom: 0px;
            color: white;
            line-height: 125%;
            @include fSmallToLarge(14px, 16px);
            @include resp($sm) {
                text-align: left;
            }
            span {
                @include resp($sm) {
                    display: block;
                }
            }
        }
    }
    @include resp($sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
    }
    @include resp($lg) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    @include resp($xl) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    // visual card
    .visual_card {
        margin-bottom: 20px;
        padding: 25px 18px;
        border-radius: 15px;
        @include resp($xs) {
            padding: 40px 50px;
        }
        @include resp($sm) {
            border-radius: 0px;
            margin-bottom: 0px;
            padding: 45px 10px 45px 35px;
        }
        @include resp($md) {
            padding: 65px 10px 65px 45px;
        }
        @include resp($lg) {
            padding: 25px 5px 25px 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                    flex-flow: column wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        // card icon
        .icon_wrap {
            text-align: center;
            @include resp($sm) {
                text-align: left;
            }
            img {
                width: 22px;
                @include resp($sm) {
                    width: 25px;
                }
                @include resp ($xl) {
                    width: 20px;
                }
            }
        }
        // tittle
        h1.tittle {
            @include fSmallToLarge(16px, 19px);
            text-align: center;
            margin-top: 10px;
            @include resp($sm) {
                text-align: left;
            }
            @include resp ($xl) {
                font-size: 15px;
            }
        }
        // para
        .para {
            @extend .regular;
            text-align: center;
            margin-bottom: 0px;
            color: white;
            line-height: 125%;
            @include fSmallToLarge(14px, 16px);
            @include resp($sm) {
                text-align: left;
            }
            @include resp ($xl) {
                font-size: 14px;
            }
            span {
                @include resp($sm) {
                    display: block;
                }
            }
        }
    }
    // different style for different card
    // shave card
    .shaveCard {
        @include resp($sm) {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    }

    // call card
    .call {
        @include resp($sm) {
            grid-column: 2/3;
            grid-row: -1/-2;
        }
    }
    // expand card
    .expand {
        @include resp($sm) {
            grid-column: 2/3;
            grid-row: 2/3;
            border: none !important;
            background-color: white !important;
        }
        @include resp($xl) {
            grid-column: -2/-1;
            grid-row: 1/2;
        }

        img {
            @include resp ($xl) {
                width: 18px;
            }
        }

    }
    // trash card
    .trash {
        @include resp($sm) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        @include resp($lg) {
            grid-column: 3/5;
            grid-row: 1/2;
        }
        @include resp($xl) {
            grid-column: 4/5;
            grid-row: 1/2;
        }
    }
    // call card
    .call {
        @include resp($sm) {
            grid-column: 2/3;
            grid-row: -1/-2;
        }
        @include resp($lg) {
            grid-column: 5/7;
            grid-row: -1/-2;
        }
        @include resp($xl) {
            grid-column: 5/6;
            grid-row: 2/3;
        }
    }
    // expand card
    .expand {
        @include resp($sm) {
            grid-column: 2/3;
            grid-row: 2/3;
            border: none !important;
        }
        @include resp($lg) {
            grid-column: 7/9;
            grid-row: 1/2;
        }
        @include resp($xl) {
            grid-column: -2/-1;
            grid-row: 1/2;
        }
    }
    // logo card
    .logoCard {
        @include resp($sm) {
            grid-column: 1/2;
            grid-row: -1/-2;
        }
        .icon_wrap {
            // img
            img {
                width: 26px;
                @include resp($md) {
                    width: 30px;
                }
                @include resp($lg) {
                    width: 34px;
                }
            }
            // description
            .des {
                span {
                    @extend .semiBold;
                    font-size: 10px;
                    line-height: 110%;
                }
            }
        }
    }
    // shave offf card
    .shaveOffSection {
        width: 100%;
        background-color: white;
        @include resp($sm) {
            grid-row: 1/2;
            grid-column: 1/-1;
            padding-top: 35px;
            padding-bottom: 35px;
        }
        @include resp($lg) {
            grid-row: -2/-1;
            grid-column: 1/6;
        }
        @include resp($xl) {
            grid-row: 1/3;
            grid-column: 1/4;
        }
        .tittle {
            font-size: 16.5px;
            line-height: 110%;
            @include resp($sm) {
                @include font-size($sm, $lg, 16px, 30px);
            }
            @include resp($xl) {
                font-size: 35px;
            }
            @include resp($xxl) {
                font-size: 42px;
            }
            @include resp($mxl) {
                font-size: 53px;
            }
            span {
                display: block;
                @include resp($lg) {
                    display: block;
                }
            }
        }
        // custom button
        .cus__btn {
            @include resp($lg) {
                width: 210px;
            }
            // @include resp()
        }
    }
}
