// import modules
@import "./assets/font";
@import "./assets/variable";
@import "./assets/mixing";

// modules 
@import "./modules/typography";
@import "./modules/btn_&_links";
@import "./modules/list_&_cards_&_quotes";
@import "./modules/sections";

// pages 
@import "./page/landing_page";
@import './page/about-us';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// common style for all pages 
main {
    // container / wrapper section 
    .container {
        @include resp($lg) {
            margin-top: 45px;
            padding-bottom: 50px !important;
        }
        @include resp($xl) {
            margin-top: 65px;
        }
        @include resp($xxl) {
            margin-top: 80px;
        }
        @include resp($mxl) {
            margin-top: 110px;
        }
        // heading form 
        .head_form {
            padding-top: 45px;
        }
    }
}

.email-dark {
    background-color: #F2F2F2!important;
    color: lighten($color: #000000, $amount: 20);
}


.email__form {
    // email input 
    input {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        @include resp ($md) {
            padding-top: 13px;
            padding-bottom: 13px;
        }
        @include resp ($xxl) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        @include resp ($mxl) {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }

    // button 
    button.cus__btn {
        @include resp ($xl) {
            width: 430px!important;
        }
        @include resp ($mxl) {
            width: 470px!important;
        }
    }
}