// import modules
@import "./assets/font";
@import "./assets/variable";
@import "./assets/mixing";

// modules 
@import "./modules/typography";
@import "./modules/btn_&_links";
@import "./modules/list_&_cards_&_quotes";
@import "./modules/sections";

// pages 
@import "./page/landing_page";
@import './page/about-us';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// common style for all pages 
main {
    .container {
        @include resp($lg) {
            margin-top: 45px;
            padding-bottom: 50px !important;
        }
        @include resp($xl) {
            margin-top: 65px;
        }
        @include resp($xxl) {
            margin-top: 80px;
        }
        @include resp($mxl) {
            margin-top: 110px;
        }
    }
}
