// about us page
.about-us {
    // main section style
    main {
        // container
        .container {
            @include resp($lg) {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 1fr;
            }
        }
        // heading
        .head_form {
            @include resp($lg) {
                // grid-area: head;
                grid-column: 1/5;
                grid-row: 1/2;
            }
        }
        // card wrapper section
        .card_wrap {
            @include resp($lg) {
                grid-column: -1/4;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1fr;
                grid-template-areas:
                    "card1 card1"
                    "card3 card2";
                grid-gap: 25px;
                justify-self: flex-end;
            }
            @include resp($xl) {
                grid-gap: 45px 50px;
            }
            @include resp ($xxl) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas: 
                    ". card1"
                    "card2 ."
                    ". card3"
                ;
                grid-gap: 0;
            }
            // card style
            .card-square {
                &:nth-child(1) {
                    justify-self: center;
                }
            }
        }
    }
}


// friendly folks 
#friendlyFolks {
    @extend #zeroTech;
}


// founder section -----------------------------
#founder {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        // article section 
        .founder-wrapper {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 30px;
            @include resp ($xs) {
                width: 95%;
            }
            @include resp ($sm) {
                padding: 40px;
            }
            @include resp ($md) {
                padding: 50px;
            }
            @include resp ($lg) {
                padding: 60px;
            }
            @include resp ($xl) {
                padding: 75px;
            }
            @include resp ($xxl) {
                padding: 100px;
            }
            @include resp ($mxl) {
                padding: 115px;
            }
        }
        // founder wrapper
        .big-para {
           
        }
        .founder-wrapper {
            .f-tittle {

            }
            // image wrapper 
            .img__wrap {
                width: 100px;
                @include resp ($xs) {
                    width: 125px;
                }
                @include resp ($sm) {
                    width: 135px;
                }
                @include resp ($md) {
                    width: 140px;
                }
                @include resp ($lg) {
                    width: 150px;
                }
                @include resp ($xl) {
                    width: 175px;
                }
            }
        }

        // signature ------------------ 
        .signature {
            // left description 
            .left {
                .description-1 {
                    font-family: $regular;
                    @include resp ($mxl) {
                        font-size: 55px;
                    }
                    
                }
            }
            // right side signature 
            .right {
                img {
                    width: 225px;
                    @include resp ($lg) {
                        width: 175px;
                    }
                    @include resp ($xxl) {
                        width: 225px;
                    }
                    @include resp ($mxl) {
                        width: 260px;
                    }
                }
            }
        }
    }
}