.cus_btn {
    font-family: $semibold;
    border-radius: 1px;
    background-color: $yellow;
    color: black !important;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 10px 15px !important;
    text-align: center;
    @include font-size($msm, $lg, 10px, 16px);
    @include resp($lg) {
        font-size: 16px;
        width: 210px;
    }
    @include resp($xl) {
        font-size: 17px;
        width: 220px;
    }
    @include resp($mxl) {
        font-size: 18px;
        width: 235px;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}

// small button 
.sm_cus_btn {
    @extend .cus_btn;
}
